:root {
  --bg: #1d1d1d;
  --text: #ffffff;
  --accent: #56e769;
  --tab: #808080;

  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;

  
  background-color: var(--bg);

  margin: 0px 28px 0px 28px;
}