.log-body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    background-color: #1d1d1d;
    border: 1px solid #56e769;

    padding: 32px 32px 32px 32px;
}