.detail {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    background-color: #1d1d1d;
    border: 1px solid #56e769;

    font-style: italic;

    padding: 20px;
    height: 100%;
    overflow-y: auto;
}

.detail-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.detail-n {
    color: #56e769;
    font-style: normal;
    font-size: 20px;
}

.detail-id {
    color: #56e769;
    font-style: normal;
}

section {
    margin-bottom: 15px;
}